@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700')

body
    width 700px
    margin 0 auto
    font-family Roboto, sans-serif
    
.big-title
    font-size 20px
    width 100%
    height 40px
    line-height 40px
    text-align center
    font-weight bold
    
.visible
    display none