main {
  width: 900px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-color: cornsilk;
  padding: 20px 0;

  h1 {
    color: cadetblue;
  }
}

.image-container {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 20px auto 0 auto;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .hidden {
    opacity: 0;
    transition: 0.5s;
  }
}

.wide {
  width: 100%;
}
