@charset "UTF-8";

@import "colors";
@import "variables";

h1 {
    text-align: center;
}

.title {
    color: $color;
}

.active {
    color: blue;
    background-color: $green;
}

.inline {
    display: inline-block;
}

.navigation {

    display: flex;
    width: 700px;
    margin: 0 auto;
    padding: 0;

    li {
        flex: 1;
        text-align: center;
        list-style-type: none;
        line-height: 2em;
    }
}

.comment {
    
    background-color: black;
    line-height: 2em;
    padding: 5px;
    margin: 10px auto;
    width: 200px;
    text-align: center;

    &.box {

        color: lightgreen;
    }

    &.list {

        color: yellow;
    }

    &.form {

        color: white;
    }
}