doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Timbergus
        link(rel="stylesheet", href="dist/style.css")
        script(src="dist/app.js", defer)
    body
        div.example1
        div.example2
        div.example3
